{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid full-page title-page">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="logo">Astromotive</h1>
      <img class="icon" src="{% static 'images/ufo.svg' %}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="subtitle">Vehicles for other worlds.</h2>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <button>SEE MORE</button>
    </div>
  </div> -->
</div>

<div class="container-fluid half-page">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h2>INTRODUCING THE MOONBIKE</h2> -->
      <p>We're building rocket-powered personal transport vehicles for use on the Moon, Mars, and other low-gravity celestial bodies.</p>
    </div>
  </div>
</div>


<div class="container-fluid full-page team">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <div class="loren pic"></div>
      <h3><a href="https://www.linkedin.com/in/lorensheets/" target="_blank">Loren Sheets</a></h3>
      <p>CEO & Software Engineer</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <div class="brantly pic"></div>
      <h3><a href="http://brantlymillegan.com/" target="_blank">Brantly Millegan</a></h3>
      <p>Business Development</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <div class="kyle pic"></div>
      <h3><a href="https://www.linkedin.com/in/kyle-gilham-70353056/" target="_blank">Kyle Gilham</a></h3>
      <p>Mechanical Engineer</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <div class="nick pic"></div>
      <h3><a href="https://www.linkedin.com/in/nick-gardetto-2bb7a9172/" target="_blank">Nick Gardetto</a></h3>
      <p>Propulsion Engineer</p>
    </div>
  </div>
</div>

<div class="container-fluid full-page specs">

  <div class="row">
    <div class="col-sm-6">
      <h3>TOP SPEED</h3>
      <p></p>
    </div>
    <div class="col-sm-6">
      <h3>FLIGHT RANGE</h3>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>MANEUVERABILITY</h3>
      <p></p>
    </div>
    <div class="col-sm-6">
      <h3>SAFETY</h3>
      <p>INTELLIGENT FLIGHT SAFETY SYSTEMS ENSURE THE MOONBIKE OPERATES WITHIN SAFE CONDITIONS AND
        WILL AUTOMATICALLY TAKE CONTROL WHEN REDLINE THRESHOLDS ARE EXCEEDED.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>THRUSTERS</h3>
      <p></p>
    </div>
    <div class="col-sm-6">
      <h3>REFUELING</h3>
      <p>MOONBIKE USES PROPELLANTS THAT CAN BE MINED AND PROCESSED ON THE MOON.</p>
    </div>
  </div>
</div>

<div class="container-fluid contact">
  <div class="row">
    <div class="col-xs-12">
      <p class="header">Subscribe for updates.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4 col-ls-2"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-ls-8">
      <div class="form-container">
        {% crispy form form.helper %}
      </div>
      <p class="info">We're based in Portland, OR. You can reach out to us at <a href="mailto:contact@astromotive.tech">contact@astromotive.tech</a>.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-ls-2"></div>
  </div>
</div>



{% endblock %}
