{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid full-page title-page">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="logo">Astromotive</h1>
      <img class="icon" src="{% static 'images/ufo.svg' %}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="subtitle">Vehicles for other worlds.</h2>
    </div>
  </div>
</div>

<div class="container-fluid half-page">
  <div class="row">
    <div class="col-xs-12">
      <p>We're building rocket-powered personal transport vehicles for use on the Moon, Mars, and other low-gravity celestial bodies.</p>
    </div>
  </div>
</div>


<div class="container-fluid full-page team">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <a href="https://www.linkedin.com/in/lorensheets/" target="_blank">
        <div class="loren pic"></div>
        <h3>Loren Sheets</h3>
        <p>CEO & Software Engineer</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <a href="http://brantlymillegan.com/" target="_blank">
        <div class="brantly pic"></div>
        <h3>Brantly Millegan</h3>
        <p>Business Development</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <a href="https://www.linkedin.com/in/kyle-gilham-70353056/" target="_blank">
        <div class="kyle pic"></div>
        <h3>Kyle Gilham</h3>
        <p>Mechanical Engineer</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 member">
      <a href="https://www.linkedin.com/in/nick-gardetto-2bb7a9172/" target="_blank">
        <div class="nick pic"></div>
        <h3>Nick Gardetto</h3>
        <p>Propulsion Engineer</p>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid specs">
  <div class="row">
    <div class="col-xs-12 baseline">
      <h4>Moonbike</h4>
      <p>Baseline Specs</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_1"
           data-percent="25"
           data-style="full"
           data-text="4"
           data-size="275"
           data-width="13"
           data-label="THRUSTERS"
           data-prepend=""
           data-append=""
           data-animationstep="1"
           data-color="#ff0000"
           data-back="#eebbbb"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_2"
           data-percent="60"
           data-style="full"
           data-text="600"
           data-size="275"
           data-width="13"
           data-label="MAX THRUST"
           data-prepend="&nbsp;"
           data-append="N"
           data-animationstep="1"
           data-color="#ff0000"
           data-back="#eebbbb"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_3"
           data-percent="75"
           data-style="Full"
           data-text="300"
           data-size="275"
           data-width="13"
           data-label="ISP"
           data-append="s"
           data-prepend="&nbsp;"
           data-animationstep="1"
           data-color="#ff0000"
           data-back="#eebbbb"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_4"
           data-percent="40"
           data-style="Arch"
           data-text="30"
           data-size="275"
           data-width="13"
           data-label="DRY MASS"
           data-append="kg"
           data-prepend="&nbsp;&nbsp;&nbsp;"
           data-animationstep="1"
           data-color="#666666"
           data-back="#cccccc"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_5"
           data-percent="65"
           data-style="Arch"
           data-text="60"
           data-size="275"
           data-width="13"
           data-label="PROPELLANT"
           data-append="kg"
           data-prepend="&nbsp;&nbsp;&nbsp;"
           data-animationstep="1"
           data-color="#0077ff"
           data-back="#bbddff"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 spec">
      <div class="GaugeMeter" id="GaugeMeter_6"
           data-percent="85"
           data-style="Arch"
           data-text="25"
           data-size="275"
           data-width="13"
           data-label="FLIGHT RANGE"
           data-append="km"
           data-prepend="&nbsp;&nbsp;&nbsp;"
           data-animationstep="1"
           data-color="#666666"
           data-back="#cccccc"
           data-showvalue="1"
           data-text_size="0.35"
           data-stripe=2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contact">
  <div class="row">
    <div class="col-xs-12">
      <p class="header">Subscribe for updates.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4 col-ls-2"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-ls-8">
      <div class="form-container">
        {% crispy form form.helper %}
      </div>
      <p class="info">We're based in Portland, OR. You can reach out to us at <a href="mailto:contact@astromotive.tech">contact@astromotive.tech</a>.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-ls-2"></div>
  </div>
</div>



{% endblock %}
