/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .logo {   font-size: 6em; }
  .icon {   width: 250px; }
  .subtitle{  font-size: 2.5em; }
  .half-page p {
    font-size: 2.25em;
    padding: 0 15vw;
  }
  .pic {
    height: 16vh;
    width: 16vh;
    border-radius: 16vh;
  }
  .contact .header {
    font-size: 3.33em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {   font-size: 9em; }
  .icon {   width: 300px; }
  .subtitle{  font-size: 3.0em; }
  .half-page p {
    font-size: 2.75em;
    padding: 0 20vw;
  }
  .pic {
    height: 18vh;
    width: 18vh;
    border-radius: 18vh;
    border: 3px solid #f2f0ef;
    box-shadow: 0px 0px 0px 3px #dd1111;
  }
  .contact .header {
    font-size: 3.66em;
  }
  footer {
    font-size: 1.5em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {   font-size: 12em; }
  .icon {   width: 350px; }
  .subtitle{  font-size: 3.5em; }
  .half-page p {
    font-size: 3.25em;
    padding: 0 25vw;
  }
  .pic {
    height: 20vh;
    width: 20vh;
    border-radius: 20vh;
    border: 4px solid #f2f0ef;
    box-shadow: 0px 0px 0px 4px #dd1111;
  }
  .contact .header {
    font-size: 4em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



@media (max-width: 768px) and (orientation:landscape) {
    .col-sm-6 {   width: 50%; }
    .half-page {    height: 75vh; }
    .col-ls-3 {   width: 25%; }
    .col-ls-6 {   width: 50%; }
    .pic {
      height: 40vh;
      width: 40vh;
      border-radius: 40vh;
    }
    .member h3 {  font-size: 2em; }
}

@media (max-width: 768px) and (orientation:portrait) {
    .col-sm-6 {   width: 100%; }
    .half-page {    height: 50vh; }
    .col-ls-3, .col-ls-6 {   width: 100%; }
    .member h3 {  font-size: 2.6em; }
}
